{% extends "base.twig" %} {% block content %}
<div id="resetPassword">
	<div id="message"></div>
	<!--this check on the link key and user login/username-->
	
		<form id="resetPasswordForm" method="post" autocomplete="off">
		
			{{ function ('wp_nonce_field', 'ajax-user-reset-password-nonce', 'idwe_resetpassword_security') }}
			
			<input type="hidden" name="user_key" id="user_key" value="<?php echo esc_attr( $_GET['key'] ); ?/>" autocomplete="off" />
			<input type="hidden" name="user_login" id="user_login" value="<?php echo esc_attr( $_GET['login'] ); ?/>" autocomplete="off" />
			<p>
				<label for="pass1">New password</label>
				<input type="password" name="pass1" id="pass1" class="input" size="20" value="" autocomplete="off" /></label>
			</p>
			<p>
				<label for="pass2">Confirm new password</label>
				<input type="password" name="pass2" id="pass2" class="input" size="20" value="" autocomplete="off" /></label>
			</p>

			<p class="description indicator-hint">Hint: The password should be at least seven characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ &amp;</p>

			<br class="clear" />

			{# <?php
			/**
			 * Fires following the 'Strength indicator' meter in the user password reset form.
			 *
			 * @since 3.9.0
			 *
			 * @param WP_User $user User object of the user whose password is being reset.
			 */
			do_action( 'resetpass_form', $user );
			?> #}
			<p class="submit"><input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Reset Password" />
				<img src="<?php echo get_stylesheet_directory_uri(); ?/>/images/ajax-loader.gif" id="preloader" alt="Preloader" />
			</p>
		</form>
	</div>
{% endblock %}