{% extends "base.twig" %} {% block content %}
<div class="container-fluid" id="resetPassword">
	<div class="center">
		<h2>Reset Password Form</h2>
		<span>ENTER INFORMATION BELOW</span>
	</div>
	{% if errors.get_error_code %}
		<div class="center">
			<p class="center">{{ errors.get_error_message(erros.get_error_code) }}</p>
		</div>
	{% else %}
	<form id="resetPasswordForm" method="post" autocomplete="off" class="form">
		<div class="form-group center">
			<div id="message"></div>
		</div>
		{{ function ('wp_nonce_field', 'ajax-user-reset-password-nonce', 'idwe_resetpassword_security') }}
		<input type="hidden" name="user_key" id="user_key" value="{{key}}" autocomplete="off" />
		<div class="form-group">
			<label class="sr-only" for="user_login">Username or E-mail:</label>
			<input type="text" name="user_login" id="user_login" class="form-control" value="" placeholder="Username or Email" />
		</div>
		<div class="form-group">
			<label class="sr-only" for="password_one">New password</label>
			<input type="password" name="password_one" id="password_one" class="form-control" size="20" value="" autocomplete="off" placeholder="New Password" />
		</div>
		<div class="form-group">
			<label class="sr-only" for="password_two">Confirm new password</label>
			<input type="password" name="password_two" id="password_two" class="form-control" size="20" value="" autocomplete="off" placeholder="Confirm Password"  />
		</div>
		<div class="form-group">
			<div class="hintContain">
				<h5 class="center">HINT!</h5>
				<p class="hint">Password has to be 7+ characters long. 
				To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ &amp;</p>
			</div>
		</div>
		<br class="clear" />
			{% do action( "resetpass_form", "{{user}}" ) %}
		<div class="form-group center">
			<input type="submit" name="wp-submit" id="wp-submit" class="btn btn-db" value="Reset Password" />
		</div>
		
	</form>
	{% endif %}
</div>
{% endblock %}