<div class="container-fluid" id="about-home">
	<div class="row">
		<div class="col-xs-12">
			<h4>ABOUT IDW</h4>
		</div>
		<div class="col-xs-12">
			<div class="container">
				<p>IDW Entertainment is a division of IDW that produces and distributes franchise content ranging from series to features to interactive experiences.
				</p>
			</div>
		</div>
		<div class="col-xs-12">
			<a href="/about" class="btn btn-db"> LEARN MORE </a>
		</div>
	</div>
</div>