<div class="container-fluid" id="about-home">
	<div class="row">
		<div class="col-xs-12">
			<h4>ABOUT IDW</h4>
		</div>
		<div class="col-xs-12">
			<div class="container">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut hendrerit mauris, non pharetra ipsum. Curabitur lobortis
				dignissim fermentum. Morbi congue vel nunc eget tempus. Aenean id lobortis dolor. Nullam feugiat finibus lorem, eget
				lacinia velit. Pellentesque vel nisi sollicitudin, blandit metus ut, lacinia risus. Aliquam id varius nibh, et pellentesque
				libero. Donec at fringilla diam. Fusce non aliquam sem. Donec mattis nulla a eros hendrerit tristique eu non libero.
				Ut vel vulputate elit. Sed vitae nisl facilisis, vulputate lectus ac, semper urna. Integer pharetra porttitor pretium.
				Quisque condimentum congue ex vitae accumsan. Duis hendrerit auctor facilisis.
				</p>
			</div>
		</div>
		<div class="col-xs-12">
			<a href="/about" class="btn btn-db"> LEARN MORE </a>
		</div>
	</div>
</div>