@import "../../stylesheets/_vars.styl"

#project-landing
	h4
		margin: 2% auto
		color: $dark-gray
		text-align: center
	a
		text-decoration: none
	.card
		&:hover > .image-container > .image-overlay
			opacity: .6
		.image-container
			height: 100%
			width: 100%
			position: relative	
			img
				width: 100%
		.card-block
			padding: 5%
			.card-title
				font-family: "Nudista-semi-bold"
				font-size: 18px
				margin-bottom: 2%
			.project-categories
				margin-bottom: 2%
				span
					color: $yellow
					font-size: 12px
			