@import "../../stylesheets/_vars.styl"

#carousel-container
	padding: 0
	.swiper-container
		a
			text-decoration: none
		.swiper-slide
			&:hover > .carousel-caption
				color: #fff
			.carousel-caption
				p
					color: #fff
				a
					@media (max-width: 600px)
						display: none
		.image-container
			height: auto
			width: 100%
			img
				width: 100%
				position: relative
				z-index: 1
		.swiper-pagination-bullet
			background-color: #fff
			opacity: 1
			&.swiper-pagination-bullet-active
				background-color: $yellow