@import "../../stylesheets/_vars.styl"

#carousel-container
	padding: 0
	.swiper-container
		.image-container
			height: 100%
			img
				height: 100%
				width: 100%
		.swiper-pagination-bullet
			background-color: #fff
			opacity: 1
			&.swiper-pagination-bullet-active
				background-color: $yellow