@import "../../stylesheets/_vars.styl"
#loginModal
	h5
		background-color: $light-blue
		height: 8px
		width: 100%
	.modal-header
		padding: 0
	.modal-body
			span
				font-style: italic
				font-size: 14px
				color: $dark-blue
					