@import "../../stylesheets/_vars.styl"
#RegModal
	.modal-content
		padding-bottom: 1em
	h5 
		background-color: $dark-blue
		height: 8px
		width: 100%
	.modal-header
		padding: 0
		.close
			span 
				color: $dark-blue
	.modal-body
		padding: 0 10%
		#reg-header
			margin-bottom: 2em
			h2
				color: $dark-blue
				margin-bottom: 0
			span
				font-size: 10px
				font-style: italic
		.form-group
			width: 100%
			margin: 3% auto;
		.help-block
			font-size: 10px
			font-style: italic
			text-align: center
		.result-message
			border: none
			box-shadow: none
	
	