<div class="container-fluid" id="uni-nav">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-xs-2">
				<a href="http://idwpublishing.com">
					<p>IDW Publishing</p>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="http://idwgames.com/">
					<p>IDW Games</p>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="http://idwlimited.com/">
					<p>IDW Limited</p>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="http://idwentertainment.com/">
					<p>IDW Entertainment</p>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="http://www.topshelfcomix.com/">
					<p>Top Shelf</p>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="http://sdcomicartgallery.com/">
					<p>SD Comic Art Gallery</p>
				</a>
			</div>
		</div>

	</div>
</div>