@import "../stylesheets/_vars.styl"

#footer-top
	padding: 2% 0
	.col-xs-4
		margin: 2% auto
		.footer-logo-container
			img
				width: 100%
#footer-bottom-desktop
	@media (max-width: 840px)
		display: none
	background-color: $dark-blue
	color: #fff
	height: 15em
	padding: 5% 5% 10% 5%
	.main-section
		border-color: $dark-blue
		.nav.navbar-nav
			.divider
				height: 1em
				width: 2px
				background-color: $yellow
				margin: 16% 0 0 0 
			.active
				a
					color: $yellow
			a
				color: white
				background: transparent
				line-height: 5.5
				&:hover
					color: $yellow
	.footer-image-container
		width: 6em
		img
			width: 100%
	.navbar-right
		p
			font-size: 10px
			opacity: .8
			padding: 4% 0
#footer-bottom-mobile
	background-color: $dark-blue
	color: #fff
	padding: 5% 5% 10% 5%
	@media (min-width: 840px)
		display: none
	.footer-image-container
		width: 10em
		margin: 0 auto 4% auto
		img
			width: 100%
	.footer-follow-icons
		text-align: center
		margin: 2% auto 1% auto
		i
			font-size: 36px
			margin: 1% 3%
	p
		font-size: 14px
		text-align: center
		margin-top: 2%