@import "../stylesheets/_vars.styl"

#footer-top
	padding: 5% 0
	.col-xs-4
		margin: 2% auto
#footer-bottom
	background-color: $dark-blue
	color: #fff
	height: 15em
	padding: 5% 5% 10% 5%
	.navbar-right
		p
			font-size: 10px
			opacity: .8