@import "../../stylesheets/_vars.styl"

#resetPassword
	.center
		h2
			color: $dark-blue
			margin-bottom: 0
		span
			font-size: 12px
			font-style: italic
	#resetPasswordForm
		width: 30em
		margin: 2em auto 0 auto
		background-color: $light-gray
		padding: 2% 2.5% 1% 2.5%
		border-radius: 6px
		.hintContain
			.hint
				font-size: 11px
				color: $dark-gray
