{% extends "base.twig" %} {% block content %}
<div class="container" id="contact-landing">
	<div class="row">
		<div class="col-xs-12 col-md-7">
			<div class="image-container">
				<img src="wp-content/uploads/2017/07/idwent_logo_contact.png">
			</div>
		</div>
		<div class="col-xs-12 col-md-5 ">
			<div class="row more-info-section">
				<div class="col-xs-12">
					<h5>CONTACT INFO</h5>
					<p>info@idwentertainment.com</p>
					<div class="divider"></div>
				</div>
				<div class="col-xs-12 connect">
					<h5>CONNECT</h5>
					<a class="connect-links-sidebar" href='https://www.facebook.com/idwentertainment'>
						<div class="connect-icon facebook"></div>
						FACEBOOK
					</a>
					<a class="connect-links-sidebar" href='https://twitter.com/idwentertain?lang=en'>
						<div class="connect-icon twitter"></div>
						TWITTER
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
{% include 'contact-form.twig' %} {% endblock %}