@import "../../stylesheets/_vars.styl"

#uni-nav
	background-color: black
	@media (max-width: 850px)
		display: none
	.row
		padding: 5px 0
		a
			text-decoration: none
			color: white
			p
				margin: 0 auto
				font-size: 11px
				&:hover
					color: $yellow
					cursor: default