<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-12" id="footer-top">
			<div class="row">
				<div class="col-xs-12 col-md-6 center">
					<row>
						<div class="col-xs-4">
							<img src="http://via.placeholder.com/150x150" alt="">
						</div>
						<div class="col-xs-4">
							<img src="http://via.placeholder.com/150x150" alt="">
						</div>
						<div class="col-xs-4">
							<img src="http://via.placeholder.com/150x150" alt="">
						</div>
					</row>
				</div>
				<div class="col-xs-12 col-md-6 center">
					<row>
						<div class="col-xs-4">
							<img src="http://via.placeholder.com/150x150" alt="">
						</div>
						<div class="col-xs-4">
							<img src="http://via.placeholder.com/150x150" alt="">
						</div>
						<div class="col-xs-4">
							<img src="http://via.placeholder.com/150x150" alt=""></div>
					</row>
				</div>
			</div>
		</div>
		<div class="col-xs-12" id="footer-bottom">
			<nav class="navbar" id='header-nav'>
				<div class="container-fluid">

					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							<div class="brand-image-container">
								<img src="http://via.placeholder.com/100x100" alt="">
							</div>
						</a>
					</div>
					<div class="collapse navbar-collapse main-section" id="home-nav">
						<ul class="nav navbar-nav">
							<li>
								<a href="#">MY ACCOUNT</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">PRIVACY POLICY</a>
							</li>
							<li class="divider"></li>
							<li>
								<li>
									<a href="#">TERMS & CONDITIONS</a>
								</li>
								<li class="divider"></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a>
									<p>Copyright @2017 IDW Entertainment. All Rights Reserved.</p>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</div>
	</div>