<div class="sidebar-bottom">
		<a href="{{project.link}}">
		<div class="card">
			<div class="image-container">
				<img class="card-img-top" src="{{project.thumbnail}}" alt="Card image cap">
				<div class="image-overlay"></div>
			</div>
			<div class="card-block">
				<p class="card-text">{{post.title}}</p>
			</div>
		</div>
	</a>
</div>