<div class="container-fluid" style="background: black; color: white">
    <div class="row">
        <div class="col-xs-2">IDW Publishing</div>
        <div class="col-xs-2">IDW Games</div>
        <div class="col-xs-2">IDW Limited</div>
        <div class="col-xs-2">IDW Entertainment</div>
        <div class="col-xs-2">Top Shelf</div>
        <div class="col-xs-2">SD Comic Art Gallery</div>
    </div>
</div>