{% extends 'base.twig' %} 

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
			<div class="row">
			<form action="{{site.url}}/wp-admin/admin-ajax.php" method="POST" id='filter'>
				<h3> Categories </h3>
				<ul>
					{% for category in categories %}
					<li>
						<input type="checkbox" name='{{category.name}}' value='{{category.id}}'><span>{{category.name}}</span></input>
					</li>
					{% endfor %}
				</ul>
				
			<form>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div id="response"></div>
			</div>
		</div>
	</div>


</div>

		

		{% endblock %}