@import "../../stylesheets/_vars.styl"

#cf-home
	background: $light-gray
	color: $dark-gray
	.title-section
		text-align: center
		margin: 3% 0 4% 0 
	.inner
		padding: 0 5%
		label
			color: $light-blue
			font-size: 12px
		.form-control
			border-top: none
			border-left: none
			border-right: none
			border-bottom: 1px solid $dark-grey
			border-radius: 0
			box-shadow: none
			--webkit-boxshadow: none
			background: none
			